.header {
    width: 100%;
    padding: 1rem 2rem;
    background-color: #f3f6fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .header-content {
      display: flex;
      align-items: center;
      justify-content: start;
  
      .header-logo {
        height: 50px;
        object-fit: contain;
      }
    }
  }
  